.funnydeath{
    margin: 2rem 0;
    justify-content: center;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;


}

.funnydeath-header {
    font-family: var(--font-family);
    width:100%;
    color: whitesmoke;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.funnydeath-header h1{
    margin:auto;
}

.funny-content{
    background: rgba(255, 255, 255);
    width:100%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    margin: auto;
    /*max-width: 80%;*/
}

.funny-pascontent{
    background: rgba(255, 255, 255);
    border-radius: 25px;
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
    padding: 2rem;
    width:100%;
}

.funny-pasdutoutcontent{
    background: rgba(255, 255, 255);
    border-radius: 25px;
    display: flex;
    align-items: center;
    min-width:30%;
}

.funny-content p{
    font-family: var(--font-family);
}


.funny-pasdutoutcontent h1{
    font-family: var(--font-titles);
    color: var(--ternary-color);
    text-align: left;
}

.funny-div{
    margin:auto;
}

.funny-divdeux{
    /*width:100%*/
}


.funny-div h2{
    font-family: var(--font-family);
    font-weight: normal;
    font-style: italic;
    color: var(--orange);
    /*min-width:100%;*/
}


