
.login{
  display: flex;
  font-family: var(--font-family);
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}
.login-container {
  background: #9fceea;
  border-radius: 20px;
  padding: 2rem;
  min-width: 40%;
  filter: drop-shadow(0px 3px 2px rgb(0 0 0 / 0.2));

}
.login img{
  position: absolute;
  max-width: 10%;
  left:20% ;
  top:40%;
}
.login-container h1{
  font-weight: 600;
  font-family: var(--font-titles);
  color: whitesmoke;
  font-size: 2.3rem;
  line-height: 42px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  filter: drop-shadow(0px 3px 2px rgb(0 0 0 / 0.2));
}

.login-formGroup{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.login-formGroup label{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
}
.login-formGroup input{
  background: #1B1A21;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
}

.login-formGroup textarea{
  background: #2D2E36;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
}
.login-formGroup select{
  background: #2D2E36;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
  text-overflow: ellipsis;
}
.login-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-writeButton{
  /* float: right; */
  background: whitesmoke;
  border: none;
  border-radius: 10px;
  padding: 12px 30px;
  color: var(--bleu);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.login-writeButton:hover{
  filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.8));
}

.login-writeButton:active{
  background: #c7c3c3;
}

.login-reg-writeButton{
  background: var(--primary-btn);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 12px 30px;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}


@media screen and (max-width: 550px){
  .login{
    padding:2rem 1.5rem !important;

  }
  .login-container{
    padding: 1.5rem 1rem;
  }
  .login-container h1{
    /* display: none; */
      font-size: 36px;
      margin-top: 0;
  }
  .login-formGroup label{
    font-size: 20px;
    line-height: 30px;
  }
  
}