
.tasklist{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.task-container{
    background: rgba(255, 255, 255, 0.48);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    width: 80%;
    margin:auto;
    flex-direction: column;
    align-items: center;
    text-align: left !important;
    justify-content: left;
    white-space: pre-line;
    z-index: 1;

}
.task-container h1 {
    font-family: var(--font-titles);
    color: var(--rouge);
    margin: auto 2rem ;
}

.task-container p {
    font-family: var(--font-family);
    color : black;
}

.task-container h2 {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    color: var(--orange);
    /*margin-top : 1rem;*/
    text-align: left;
    width: auto;
    cursor: pointer;
    margin: 1rem auto;
}

.task-container textarea{
    outline: none !important;
    font-family: var(--font-family);
    max-width : 120%;
    margin : 10% 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    resize: vertical;
    border: 2px solid #ccc;
    border-radius: 15px;
}

.task-container textarea :focus{
    outline: none !important;
    border: 2px solid ;
    border-color : var(--jaune);
}

.task-container input :focus{
    outline: none !important;
    border: 2px solid ;
    border-color : var(--jaune);
}

.task{
    background: rgba(255, 255, 255);
    border-radius: 20px;
    padding: 2rem;
    margin: 2rem auto;
    width: 80%;
    filter: drop-shadow(3px 3px 10px rgb(0 0 0 / 0.2));
}

.task a{
    color:var(--bleu);
    font-family: var(--font-family);
    font-size: 0.9rem;
    font-style: italic;
    font-weight: bold;
    margin : auto ;
    padding-top : 1rem;

}

.task-header{
    display: flex;
    cursor: pointer;
    font-family: var(--font-family);
    justify-content: space-between;
}

.task-header h1{
    font-family: var(--font-family) !important;
    font-weight: 500 !important;
    font-size: 1.5rem !important;
    line-height: 42px !important;
    color: #000000 !important;
    margin-bottom: 1rem !important;
}


.task-postit{
    z-index: 2; /* integer */
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: 2rem;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: 20rem;
    min-width: 15vw;
    min-height: 15vw;
    width: fit-content;
    height: fit-content;
    aspect-ratio: 1 / 1;
    filter: drop-shadow(4px 4px 3px rgb(0 0 0 / 0.2));
}


.task-category{
    font-family: var(--font-titles);
    color: var(--rouge);
    text-align: left !important;
    margin: 3rem 1rem auto;
    width: 80%;

}

.task-done{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.task-done h4{
    text-align: right;
    margin: 1rem;
}

.task-buttons{
    display: flex;
    flex-direction: row;
    margin: auto;
}



/*//////////////TASK COLOR///////////////////////////*/
.pastille {
    width: 30px !important;
    height: 30px !important;
    flex:30px 30px;
    border-radius: 20px;
    margin-left: 2rem;
    padding: 1rem;
}

.pastille-rouge {
    color: var(--rouge);
    margin-left: 2rem;
}

.pastille-jaune {
    color: var(--jaune);
    margin-left: 2rem;
}

.pastille-vert {
    color: var(--vert);
    margin-left: 2rem;
}

.pastille-bleu {
    color: var(--bleu);
    margin-left: 2rem;
}


/*////////  COMMENTS //////////*/

.comment-container{
    padding: 1rem;
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    white-space: pre-line;
}

.comment{
    cursor: pointer;
    border-radius: 20px;
    /*padding: 2rem;*/
    /*margin: 10% 0;*/
    /*width: 120%;*/

}
.comment p{
    text-align: center;
    padding:0.5rem;
    font-family: var(--font-titles);
    white-space: pre-line;
    font-size: 1.2vw;

}

.task-commentEdit{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*PREVISIONAL DATE*/
.task-previsionalDate{
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: center;
    align-content: center;
}

.task-previsionalDate p {
    text-align: left;
    font-style: italic;
    color: var(--marron);
}

/*DELETE*/
.task-delete{
    text-align: right;
    /*margin : 2rem;*/
}
.task-delete svg{
    justify-self: flex-end;
    color: var(--rouge);
}

/*///////////////////BUTTONS///////////////////////////////////////////////////////*/

.expand-writeButton{
    background: whitesmoke;
    border: none;
    margin : 3rem auto;
    border-radius: 10px;
    padding: 12px 30px;
    color: var(--bleu);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    font-family: var(--font-family);
}
.expand-writeButton:hover{
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.8));
}

.expand-writeButton:active{
    background: #c7c3c3;
}

.add-writeButton{
    background: var(--bleu);
    border: none;
    margin : 3rem auto;
    border-radius: 10px;
    padding: 12px 30px;
    color: whitesmoke;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    font-family: var(--font-family);
}
.add-writeButton:hover{
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.8));
}

.add-writeButton:active{
    background: #c7c3c3;
}


.save-writeButton{
    /* float: right; */
    background: var(--vert);
    font-family: var(--font-family);
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin : 2rem;
}

.save-writeButton:hover{
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.8));
}

.save-writeButton:active {
    background: var(--vert);
}

/*MODAL*/
.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FCD200FF;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 4px;
    width: 1000px;
    max-height: 700px;
    overflow-y: scroll;
}

@media screen and (max-width: 900px){
    .section__padding {
        padding: 4rem 2rem !important;
    }
    .task-container{
        width: 100%;
        margin: 0;
    }
    .task-container{
        width: 100%;
        margin: 0;
    }
    .task-postit{
        margin:auto;
    }
    .comment p {
        font-size: 2vw;
    }

    .task-header h1 {
        font-size: 1.2rem !important;
        line-height: 20px !important;
    }

    .task-header svg {
        text-align: left;
    }
    .section__margin {
        margin: 4rem 2rem;
    }

    .step-list h1{
        font-size: 3rem !important;
    }
    .step-list img{
        display: none;
    }
    .modal-box{
        width: 100%;
        max-width: 500px;
        max-height: 700px;
        background-color: #FCD200FF;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 0rem !important;
    }
    .task-container{
        width: 100%;
        margin: 0;
    }

    .task-container h1{
        margin: auto 0.5rem;
    }

    .task{
        width: 90%;
        margin: 2rem 0;
    }

    .task-postit{
        margin:auto;
    }
    .comment p {
        font-size: 2vw;
    }

    .task-header h1 {
        font-size: 1.2rem !important;
        line-height: 20px !important;
    }

    .task-header svg {
        text-align: left;
    }
    .section__margin {
        margin: 4rem 2rem;
    }

    .step-list h1{
        font-size: 3rem !important;
    }
    .step-list img{
     display: none;
    }
}