

body{
    background: var(--color-bg);
    margin: auto;
    scroll-behavior: smooth;
}


a{
  text-decoration: none;
  color: inherit;
}

.gradient__text{

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding{
  max-width: 1400px;
  padding: 4rem 6rem;
    align-items: center;
    justify-content: center;
}

.section__margin{
  margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.task{
    background: rgba(255, 255, 255);
    border-radius: 20px;
    padding: 2rem;
    /*!*padding: 11px 12px 19px 11px;*!*/
    /*margin-inline: 10px;*/
    /*margin: 20px 10px 20px 10px  ;*/
    margin: 3rem auto;
    width: 80%;
    filter: drop-shadow(3px 3px 10px rgb(0 0 0 / 0.2));
}

.task-container{
    background: rgba(255, 255, 255);
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    max-width: 80%;
    flex-direction: column;
    align-items: center;
    text-align: left !important;
    justify-content: center;
}
.task-container h1 {
    font-family: var(--font-titles);
    color: var(--rouge);
    margin-left:2rem;
}

.task-header{
    cursor: pointer;
}

.task-header h1{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 42px;
    color: #000000;
    margin-bottom: 1rem;
}


button{
  cursor: pointer;
}


.login-writeButton{
    background: whitesmoke;
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    color: var(--bleu);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    font-family: var(--font-family);
}
.login-writeButton:hover{
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.8));
}

.login-writeButton:active{
    background: #c7c3c3;
}


 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@media screen and (max-width: 700px){
  .section__padding{
    padding:4rem 6rem;
  }
  .section__margin{
   margin:4rem;
  }
}

@media screen and (max-width: 550px){
  .section__padding{
    padding: 4rem 2rem !important;
  }
  .section__margin{
   margin:4rem 2rem;
  }

}