

body{
    background: var(--color-bg);
    margin: auto;
    scroll-behavior: smooth;
}


a{
  text-decoration: none;
  color: inherit;
}

.gradient__text{

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding{
  max-width: 1400px;
  padding: 4rem 6rem;
    align-items: center;
    justify-content: center;
}

.section__margin{
  margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.task{
    background: rgba(255, 255, 255);
    border-radius: 20px;
    padding: 11px 12px 19px 11px;
    margin-inline: 10px;
    margin: 20px 10px 20px 10px  ;
}
.task-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    /*width: 90%;*/

}

.task-container-text h1{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.container-task{
    margin: 0 -5px;
    justify-content: center;
    align-items: center;
}

button{
  cursor: pointer;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@media screen and (max-width: 700px){
  .section__padding{
    padding:4rem 6rem;
  }
  .section__margin{
   margin:4rem;
  }
}

@media screen and (max-width: 550px){
  .section__padding{
    padding: 4rem 2rem !important;
  }
  .section__margin{
   margin:4rem 2rem;
  }

}