@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  max-width: unset !important;
  --font-family: 'Poppins', sans-serif;
  --font-titles: 'Handlee', sans-serif;

  --gradient2: linear-gradient(89.97deg, #EB1484 1.84%, #c81cc5 102.67%);
  --primary-btn: linear-gradient(101.12deg, #c0b2ff 27.35%, #eb61e8 99.99%, #C81CC5 100%, #eb61e8 100%);
  --gradient-navbar: linear-gradient(101.12deg, #29d4e0 27.35%, #d875f7 100%);
  
  --primary-color: rgb(41, 212, 224);
  --secondary-color: #d875f7;
  --ternary-color: #ff4800;
  --color-bg: linear-gradient(#12a3df 27.35%, #ffffff 100%);
  --color-bgjaune: linear-gradient(#fcd200 27.35%, #ffffff 100%);
  --color-card : rgba(42, 45, 58, 0.37);
  --color-footer : rgb(109, 88, 57);

  --bleu:#12a3df;
  --rouge:#ff4800;
  --jaune: #fcd200;
  --vert:#46d308;
  --marron:#6d5839;
  --orange:#c89345;

}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #2A2D3A #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--color-card);
    border-radius: 10px;
    border: 3px none #ffffff;
  }